{% extends 'admin/base.html.twig' %}

{% block morestylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('admin/css/datatables.bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/rr-1.2.7/datatables.min.css"/>
{% endblock %}

{% block body %}
    <div class="mt-5 d-flex justify-content-between">
        {% if is_granted('ADMIN_JOBOFFERTYPE_ADD') %}
            <a href="{{ path('admin_joboffer_new') }}">
                <button class="custom-button mb-3">
                    <i class="fas fa-user-plus"></i> Créer un offre d'emploi
                </button>
            </a>
        {% endif %}
        {% if is_granted('ADMIN_JOBOFFERTYPE_ACCESS') %}
            <a href="{{ path('admin_joboffer_type_index') }}">
                <button class="custom-button">
                    <i class="fas fa-hashtag"></i> Categories d'offres d'emploi
                </button>
            </a>
        {% endif %}
    </div>

    <div id="my-tab">

    </div>
{% endblock %}

{% block endjavascript %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/rr-1.2.7/datatables.min.js"></script>
    <script>
        $(function() {
            $('#my-tab').initDataTables({{ datatable_settings(table) }}, {
                searching: true,
                dom:'lTfgtpi',
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"
                },
                pageLength: 25,
                rowReorder: {
                    update: true,
                    dataSrc: 'priority',
                }
            }).then(function (dt) {

                dt.on('row-reorder', function (e, diff, edit) {
                    e.preventDefault();
                    let movedJobs = [];
                    let newJobs = [];
                    $(diff).each(function (e) {
                        movedJobs.push($(this).prop('oldData'));
                        newJobs.push($(this).prop('newData'))
                    });

                    $.ajax({
                        type: 'POST',
                        url: '{{ path('admin_joboffer_priority') }}',
                        data_type: 'json',
                        data: {movedJobs: movedJobs, newJobs: newJobs}
                    }).done(function (data) {
                        dt.ajax.reload();
                    });
                });


                /** Ajax delete */
                $('#my-tab tbody').on('click', '.deleteAjax', function (e) {
                    e.preventDefault();

                    let url = $(this).attr('href');
                    swal({
                        title      : 'ATTENTION',
                        text       : 'Voulez-vous vraiment supprimer cette offre ?',
                        icon       : 'warning',
                        buttons    : true,
                        dangerMode : true,
                    }).then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                type      : 'POST',
                                url       : url,
                                data_type : 'json',
                                data      : {}
                            }).done(function () {
                                dt.ajax.reload();
                            })
                        }
                    })
                })

            })
        });
    </script>
{% endblock %}