{% extends 'admin/base.html.twig' %}

{% block morestylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ asset('admin/css/datatables.bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/rr-1.2.7/datatables.min.css"/>
{% endblock %}

{% block body %}
    <div class="mb-5 d-flex justify-content-between align-items-center">
        <a href="{{ path('admin_joboffer_index') }}">
            <button class="custom-button">
                <i class="fas fa-backspace"></i> Retour
            </button>
        </a>

        {% if is_granted('ADMIN_JOBOFFER_EDIT', job) %}
            <a href="{{ path('admin_joboffer_edit', { 'id' : job.id}) }}">
                <button class="custom-button">
                    <i class="far fa-edit"></i> Editer
                </button>
            </a>
        {% endif %}
    </div>

    <div>
        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">Informations Générales</li>
            <li class="tab-link" data-tab="tab-2">Options</li>
            {% if is_granted('ADMIN_CANDIDATE_ACCESS') %}
                <li class="tab-link" data-tab="tab-3">Candidatures</li>
            {% endif %}
        </ul>
    </div>

    <div id="tab-1" class="tab-content current">
        <p><span class="dashboard-titles">Titre :</span> {{ job.title }}</p>

        <p class="dashboard-titles">Detail de l'offre :</p>
        <div class="m-4">{{ job.description|raw }}</div>
    </div>

    <div id="tab-2" class="tab-content">
        <p><span class="dashboard-titles">Catégorie de l'offre : </span>{{ job.type.title }}</p>
        <p><span class="dashboard-titles">Status d'activation : </span>{% if job.isActivated %}Activé{% else %}Désactivé{% endif %}</p>
    </div>

    {% if is_granted('ADMIN_CANDIDATE_ACCESS') %}
        <div id="tab-3" class="tab-content">
            <p class="dashboard-titles">Liste des Candidatures :</p>

            <div id="my-tab">

            </div>
        </div>
    {% endif %}
{% endblock %}

{% block endjavascript %}
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/rr-1.2.7/datatables.min.js"></script>
    <script>
        $(function() {
            $('#my-tab').initDataTables({{ datatable_settings(table) }}, {
                searching: true,
                dom:'lTfgtpi',
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"
                },
                pageLength: 25,
                rowReorder: {
                    update: true,
                    dataSrc: 'priority',
                }
            }).then(function (dt) {

                /** Ajax delete */
                $('#my-tab tbody').on('click', '.deleteAjax', function (e) {
                    e.preventDefault();

                    let url = $(this).attr('href');
                    swal({
                        title      : 'ATTENTION',
                        text       : 'Voulez-vous vraiment supprimer cette candidature ?',
                        icon       : 'warning',
                        buttons    : true,
                        dangerMode : true,
                    }).then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                type      : 'POST',
                                url       : url,
                                data_type : 'json',
                                data      : {}
                            }).done(function () {
                                dt.ajax.reload();
                            })
                        }
                    })
                })

            })
        });
    </script>
{% endblock %}