<div>
    {{ form_start(form) }}

    <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">Informations Générales</li>
        <li class="tab-link" data-tab="tab-2">Informations praticien</li>
        <li class="tab-link" data-tab="tab-5">Réseaux Sociaux</li>
        <li class="tab-link" data-tab="tab-3">Photos</li>
        <li class="tab-link" data-tab="tab-4">Présentation</li>
        <li class="tab-link" data-tab="tab-6">Rôles</li>
    </ul>

    <div id="tab-1" class="tab-content current">
        <div>
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        {% if enablePassword %}
            <div>
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first) }}
            </div>

            <div>
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second ) }}
            </div>
        {% endif %}

        <div>
            {{ form_label(form.firstname) }}
            {{ form_widget(form.firstname) }}
        </div>

        <div>
            {{ form_label(form.lastname) }}
            {{ form_widget(form.lastname) }}
        </div>
    </div>

    <div id="tab-2" class="tab-content">
        <div>
            {{ form_label(form.number) }}
            {{ form_widget(form.number) }}
        </div>

        <div>
            {{ form_label(form.color) }}
            {{ form_widget(form.color) }}
        </div>

        <div>
            {{ form_label(form.clinic) }}
            {{ form_widget(form.clinic) }}
        </div>

        <div>
            {{ form_label(form.sector) }}
            {{ form_widget(form.sector) }}
        </div>

        <div>
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
        </div>

        {% if isShow %}
            <div>
                {{ form_label(form.isVerified) }}
                {{ form_widget(form.isVerified) }}
            </div>
        {% endif %}

    </div>

    <div id="tab-3" class="tab-content">
        <div>
            {{ form_label(form.photoFile) }}
            {{ form_widget(form.photoFile) }}
        </div>
    </div>

    <div id="tab-4" class="tab-content">
        <div>
            {{ form_label(form.presentation) }}
            {{ form_widget(form.presentation) }}
        </div>

        <div>
            {{ form_label(form.cvFile) }}
            {{ form_widget(form.cvFile) }}
        </div>
    </div>


    <div id="tab-5" class="tab-content">
        <div>
            {{ form_label(form.facebook) }}
            {{ form_widget(form.facebook) }}
        </div>
        <div>
            {{ form_label(form.instagram) }}
            {{ form_widget(form.instagram) }}
        </div>
        <div>
            {{ form_label(form.linkedin) }}
            {{ form_widget(form.linkedin) }}
        </div>
        <div>
            {{ form_label(form.twitter) }}
            {{ form_widget(form.twitter) }}
        </div>
        <div>
            {{ form_label(form.youtube) }}
            {{ form_widget(form.youtube) }}
        </div>
    </div>

    <div id="tab-6" class="tab-content">
        <div>
            {{ form_label(form.roles) }}
            {{ form_widget(form.roles) }}
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center mb-5">
        {{ form_widget(form.save) }}
    </div>

    {{ form_end(form) }}
</div>