{% if articles %}
    <div class="container mt-5">
        <div class="text-center">
            <hr class="mt-5">
            <h2 class="mt-5">
                Le <span class="main-color">Blog </span> santé
            </h2>
            <h4>Pour vous aider à mieux comprendre se que nous faisons</h4>

            <div class="card-deck mt-5">

                {% for article in articles %}
                    <div class="card">
                        {% if article.imageFile %}
                            <img src="{{ vich_uploader_asset(article, 'imageFile')|imagine_filter('thumb') }}" alt="{{ article.title }}" title="image de {{ article.title }}">
                        {% else %}
                            <img src="{{ asset('build/images/carousel-1.jpg')|imagine_filter('thumb') }}" alt="{{ article.title }}" title="image de {{ article.title }}">
                        {% endif %}
                        <div class="card-body">

                            <button class="custom-button card-title" href="{{ path('article_show', {'id' : article.id}) }}"
                                    onclick="window.location.href=$(this).attr('href')">

                                <a href="{{ path('article_show', {'id' : article.id}) }}">
                                    {% if article.title|length > 15 %}
                                        {{ article.title|slice(0, 15) ~ ' ...' }}
                                    {% else %}
                                        {{ article.title }}
                                    {% endif %}
                                </a>
                            </button>
                            {% if article.description %}
                                <p class="card-text">
                                    {{ article.descriptionDecode|slice(0, 80) ~ ' ...' }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endif %}

<br>
<br>
<br>
<br>
<br>
<br>