<div class="footer d-flex justify-content-around align-items-center fixed-bottom">
    <div>
        {% if twigClinic.getActualClinic %}
            <span class="uppertext">Urgences de nuit : </span> {{ twigClinic.getActualClinic.phone2|phone }}
        {% else %}
            <span class="uppertext">Urgences de nuit : </span> XX.XX.XX.XX.XX
        {% endif %}
    </div>

    <span class="border-footer"></span>

    <div>
        {% if twigClinic.getActualClinic %}
            <span class="uppertext">Contact : </span> {{ twigClinic.getActualClinic.phone|phone }}
        {% else %}
            <span class="uppertext">Contact : </span> XX.XX.XX.XX.XX
        {% endif %}
    </div>

    <span class="border-footer"></span>

    <div>
        <a href="#">
            <span class="uppertext">Recrutement</span>
        </a>
    </div>

    <span class="border-footer"></span>

    <div>
        <a href="#">
            <span class="uppertext">Contact</span>
        </a>
    </div>

    <span class="border-footer"></span>

    <div>
        {% if twigClinic.getActualClinic and twigClinic.getActualClinic.facebook is not null %}
            <a href="{{ twigClinic.getActualClinic.facebook }}" target="_blank">
                <span class="logo-footer"><i class="fab fa-facebook-square"></i></span>
            </a>
        {% endif %}

        {% if twigClinic.getActualClinic and twigClinic.getActualClinic.instagram is not null %}
            <a href="{{ twigClinic.getActualClinic.instagram }}" target="_blank">
                <span class="logo-footer"><i class="fab fa-instagram"></i></span>
            </a>
        {% endif %}

        {% if twigClinic.getActualClinic and twigClinic.getActualClinic.linkedin is not null %}
            <a href="{{ twigClinic.getActualClinic.linkedin }}" target="_blank">
                <span class="logo-footer"><i class="fab fa-linkedin"></i></span>
            </a>
        {% endif %}

        {% if twigClinic.getActualClinic and twigClinic.getActualClinic.twitter is not null %}
            <a href="{{ twigClinic.getActualClinic.twitter }}" target="_blank">
                <span class="logo-footer"><i class="fab fa-twitter-square"></i></span>
            </a>
        {% endif %}

        {% if twigClinic.getActualClinic and twigClinic.getActualClinic.youtube is not null %}
            <a href="{{ twigClinic.getActualClinic.youtube }}" target="_blank">
                <span class="logo-footer"><i class="fab fa-youtube"></i></span>
            </a>
        {% endif %}
    </div>
</div>