<div class="container mt-5">
    <div class="text-center">
        <hr class="mt-5">
        <h2 class="mt-5">
            <span class="main-color">Les Informations</span> nous concernants
        </h2>

        <div class="card-deck mt-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <span class="main-color">
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                        <br>
                        {{ twigClinic.getActualClinic.name }}
                    </h3>
                    <p class="card-text">
                        {{ twigClinic.getActualClinic.address }}
                        <br>
                        {{ twigClinic.getActualClinic.address2 }}
                        <br>
                        {{ twigClinic.getActualClinic.postalCode }} {{ twigClinic.getActualClinic.city }}
                        <br>
                        <br>
                    </p>
                    <button class="custom-button">
                        Voir la plan d'acces
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <span class="main-color">
                            <i class="fas fa-hospital-symbol"></i>
                        </span>
                        <br>
                        Urgences
                    </h3>
                    <p class="card-text">
                        Nous faisons également les NAC
                    </p>
                    <h5>
                        Après 18h30
                        <br>
                        Du lundi au vendredi et les week-end
                        <br>
                        <br>
                        {{ twigClinic.getActualClinic.phone2 }}
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <span class="main-color">
                            <i class="fas fa-stethoscope"></i>
                        </span>
                        <br>
                        Consultations
                    </h3>
                    <p class="card-text">
                        Uniquement sur RDV :
                        <br>
                        {{ twigClinic.getActualClinic.phone }}
                    </p>
                    <button class="custom-button">
                        Prendre RDV
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
