<div class="sidebar">

    <a href="{{ path('admin_manage') }}" class="d-flex align-items-center justify-content-center flex-column">
        <img src="{{ asset('build/images/logo-light.png') }}" alt="vetogiciel" title="Logo Vetogiciel" class="light-logo">
        <h2>Gestion</h2>
    </a>

    <ul>
        <li>
            <a href="{{ path('admin_content_index') }}" class="{% if app.request.get('_route') starts with 'admin_content_' %}actual-link{% endif %}">
                <i class="fas fa-paste"></i> Contenu
            </a>
        </li>

        <li>
            <a href="{{ path('admin_user_index') }}" class="{% if app.request.get('_route') starts with 'admin_user_' or app.request.get('_route') starts with 'admin_animal_' %}actual-link{% endif %}">
                <i class="fas fa-user"></i> Clients
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-credit-card"></i> Facturation
            </a>
        </li>

        <li>
            <a href="{{ path('admin_clinic_index') }}" class="{% if app.request.get('_route') starts with 'admin_clinic_' %}actual-link{% endif %}">
                <i class="fas fa-hospital"></i> Etablissement
            </a>
        </li>

        <li>
            <a href="{{ path('admin_veterinary_index') }}" class="{% if app.request.get('_route') starts with 'admin_veterinary_' %}actual-link{% endif %}">
                <i class="fas fa-user-md"></i> Vétérinaires
            </a>
        </li>

        <li>
            <a href="{{ path('admin_employee_index') }}" class="{% if app.request.get('_route') starts with 'admin_employee_' %}actual-link{% endif %}">
                <i class="fas fa-hospital-user"></i> Employés
            </a>
        </li>

        <li>
            <a href="{{ path('admin_index') }}">
                <i class="fas fa-sign-out-alt"></i> Deconnexion
            </a>
        </li>

    </ul>
</div>