<div class="sidebar">
    <a href="{{ path('admin_manage') }}" class="d-flex align-items-center justify-content-center flex-column">
        <img src="{{ asset('build/images/logo-light.png') }}" alt="vetogiciel" title="Logo Vetogiciel" class="light-logo">
        <h2>Gestion</h2>
    </a>

    <div id="accordion" class="d-flex flex-column mb-3">
        {% for headerDatas in headers %}

            {% if headerDatas.authorizations is null or is_granted(headerDatas.authorizations) %}
                <button class="btn"
                        data-toggle="collapse"
                        data-target="#collapse{{ headerDatas.id }}"
                        aria-expanded="true"
                        aria-controls="collapse{{ headerDatas.id }}"
                >
                    <span class="d-flex justify-content-between align-items-center">
                        <span class="pl-3">
                            <i class="{{ headerDatas.icon }}"></i> {{ headerDatas.title }}
                        </span>
                         <i class="fas fa-level-down-alt"></i>
                    </span>
                </button>
            {% endif %}

            <div id="collapse{{ headerDatas.id }}"
                 class="collapse
                        {% for headerChild in headerDatas.childHeaders %}
                             {% if route is not null and route is same as headerChild.path and break is not defined %}
                                     show
                                {% set break = true %}
                            {% endif %}
                        {% endfor %}
                        "
                 aria-labelledby="heading{{ headerDatas.id }}"
                 data-parent="#accordion"
            >
                <ul>
                    {% for headerChild in headerDatas.childHeaders %}
                        {% if headerChild.authorizations is null or is_granted(headerChild.authorizations) %}
                            <li>
                                {% if headerChild.path is not null %}
                                    <a href="{{ path(headerChild.path) }}"
                                       class="d-flex justify-content-between align-items-center
                                             {% if route is not null and route is same as headerChild.path %} actual-link{% endif %}
                                             "
                                    >
                                {% else %}
                                    <a href="#"
                                       class="d-flex justify-content-between align-items-center"
                                    >
                                {% endif %}
                                    {{ headerChild.title }} {% if headerChild.icon %}<i class="{{ headerChild.icon }}"></i>{% endif %}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <div class="down-bar d-flex justify-content-around align-items-center">
        {% if is_granted('ADMIN_ADMIN_ACCESS') %}
            <button type="button" class="btn down-button" data-toggle="tooltip" data-placement="top" title="Dashboard">
                <a href="{{ path('admin_manage') }}">
                    <i class="fas fa-chart-line"></i>
                </a>
            </button>
        {% endif %}

        {% if is_granted('ADMIN_SETTINGS_ACCESS') %}
            <button type="button" class="btn down-button" data-toggle="tooltip" data-placement="top" title="Outils">
                <a href="{{ path('settings_index') }}">
                    <i class="fas fa-cog"></i>
                </a>
            </button>
        {% endif %}

        <button type="button" class="btn down-button" data-toggle="tooltip" data-placement="top" title="Quitter la zone">
            <a href="{{ path('admin_index') }}">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </button>

        <button type="button" class="btn down-button" data-toggle="tooltip" data-placement="top" title="Déconnexion">
            <a href="{{ path('security_logout') }}">
                <i class="fas fa-power-off"></i>
            </a>
        </button>
    </div>
</div>