<div>
    {{ form_start(form) }}

    <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">Informations Générales</li>
        <li class="tab-link" data-tab="tab-2">Options</li>
    </ul>

    <div id="tab-1" class="tab-content current">
        <div>
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
        </div>

        <div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>

        <div>
            {{ form_label(form.imageFile) }}
            {{ form_widget(form.imageFile) }}
        </div>

    </div>

    <div id="tab-2" class="tab-content">
        <div>
            {{ form_label(form.articleCategory) }}
            {{ form_widget(form.articleCategory) }}
        </div>

        <div>
            {{ form_label(form.isActivated) }}
            {{ form_widget(form.isActivated) }}
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center mb-5">
        {{ form_widget(form.save) }}
    </div>

    {{ form_end(form) }}
</div>