{% extends 'admin/base.html.twig' %}

{% block body %}
    <div>
        <div class="mb-5 d-flex justify-content-between align-items-center">
            <a href="{{ path('settings_index') }}">
                <button class="custom-button">
                    <i class="fas fa-backspace"></i> Retour
                </button>
            </a>

            {% if type is same as('specific') %}
                <div class="form-group">
                    <label for="clinic-select"></label>
                    <select class="form-control" name="clinics" id="clinic-select">
                        {% for clinic in clinics %}
                            <option value="{{ clinic.id }}">{{ clinic.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        </div>
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

        <ul class="tabs">
            {% for ongletTitle, ongletNames in onglets %}
                <li class="tab-link {% if loop.first %}current{% endif %}" data-tab="tab-{{ loop.index }}">{{ ongletTitle }}</li>
            {% endfor %}
        </ul>

        {% for ongletTitle, ongletsEntries in onglets %}

            <div id="tab-{{ loop.index }}" class="tab-content {% if loop.first %}current{% endif %}">
                <h2 class="dashboard-titles my-2">{{ ongletTitle }}</h2>
                {% for ongletEntry in ongletsEntries %}
                    <div>
                        {{ form_label(form.children[ongletEntry]) }}
                        {{ form_widget(form.children[ongletEntry]) }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="d-flex justify-content-center align-items-center my-3">
            {{ form_widget(form.save) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block endjavascript %}
    <script>
        let select = $('#clinic-select');
        let selectedClinic = select.val();

        let inputs = $('input');

        if (typeof selectedClinic != 'undefined') {
            inputs.each(function () {
                let inputId   = $(this).attr('id');
                let parentDiv = $(this).closest('div')

                if (inputId !== 'configuration__token') {
                    if (inputId.endsWith(selectedClinic)) {
                        parentDiv.css('display', 'block')
                    } else {
                        parentDiv.css('display', 'none')
                    }
                }
            })

            select.on('change', function () {
                let selectedClinic = select.val();

                let inputs = $('input');

                inputs.each(function () {
                    let inputId   = $(this).attr('id');
                    let parentDiv = $(this).closest('div')

                    if (inputId !== 'configuration__token') {
                        if (inputId.endsWith(selectedClinic)) {
                            parentDiv.css('display', 'block')
                        } else {
                            parentDiv.css('display', 'none')
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}