{% extends 'base.html.twig' %}

{% block morestylesheets %}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="clinic">
        {{ include('base/_carousel.html.twig') }}
    </div>

    <div id="sector" data-aos="flip-right">
        {{ include('base/_sectors.html.twig') }}
    </div>

    <div id="informations" data-aos="flip-left">
        {{ include('base/_informations.html.twig') }}
    </div>

    <div id="team" data-aos="flip-left">
        {{ include('base/_thrombi.html.twig') }}
    </div>

    <div id="blog" data-aos="flip-right">
        {{ include('base/_blog.html.twig') }}
    </div>

    <div>
        {{ include('base/_legals.html.twig') }}
    </div>

    <div>
        {{ include('base/_footer.html.twig') }}
    </div>
{% endblock %}

{% block endjavascript %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
{% endblock %}