{% extends 'base.html.twig' %}

{% block body %}
    <div id="clinic">
        {{ include('base/_carousel.html.twig') }}
    </div>

    <div id="sector">
        {{ include('base/_sectors.html.twig') }}
    </div>

    <div id="informations">
        {{ include('base/_informations.html.twig') }}
    </div>

    <div id="blog">
        {{ include('base/_blog.html.twig') }}
    </div>

    <div>
        {{ include('base/_legals.html.twig') }}
    </div>

    <div>
        {{ include('base/_footer.html.twig') }}
    </div>
{% endblock %}
