{% extends 'admin/base.html.twig' %}

{% block morestylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('admin/css/datatables.bootstrap.css') }}"/>
{% endblock %}

{% block body %}
    <div class="accueil-content">
        <div class="wrapper">
            {% include('admin/manage/_general_nav.html.twig') %}
            <div class="main_content">
                <div class="info">
                    <div class="container">
                        <div class="mt-5 d-flex justify-content-between">
                            <a href="{{ path('admin_clinic_new') }}">
                                <button class="custom-button mb-3">
                                    <i class="fas fa-clinic-medical"></i> Créer une structure
                                </button>
                            </a>
                            <a href="{{ path('admin_sector_index') }}">
                                <button class="custom-button mb-3">
                                    <i class="fas fa-layer-group"></i> Voir les secteurs
                                </button>
                            </a>
                        </div>

                        <div id="my-tab">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block endjavascript %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#my-tab').initDataTables({{ datatable_settings(table) }}, {
                searching: true,
                dom:'lTfgtpi',
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"
                },
                pageLength: 25
            })
        });
    </script>
{% endblock %}