{% extends 'admin/base.html.twig' %}

{% block morestylesheets %}
    {{ encore_entry_link_tags('datepicker') }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="accueil-content">
        <div class="wrapper">
            {% include('admin/manage/_general_nav.html.twig') %}
            <div class="main_content">
                <div class="info">
                    <div class="container">
                        <div class="mb-5">
                            <a href="{{ path('admin_clinic_index') }}">
                                <button class="custom-button">
                                    <i class="fas fa-backspace"></i> Retour
                                </button>
                            </a>
                        </div>
                        {{ include('admin/clinic/include/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block endjavascript %}
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('build/datepicker.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.js-datepicker').datepicker({
                format: 'mm-dd',
            })
        })
    </script>
{% endblock %}